<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>課題03</title>
  <link rel="stylesheet" href="./css/slick/slick.css">
  <link rel="stylesheet" href="./css/slick/slick-theme.css">
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/jquery/jquery.min.js"></script>
  <script src="./js/main.js" type="module" defer></script>
</head>
<body>
  header 
    .header_box 
      .logo_box 
        .logo1
          img(src="assets/common/images/logo1.png", alt="")
        h2.logo2 DIGSMILE
        h3.logo3 INC.
      .ham_box
        buttom.openbtn
          span 
          span 
          span
        p MENU

  main 
    .fv_box 
      .fv_img 
      .fv_color 
      .fv_title 
        p デザインで人を笑顔にする会社<br>DIGSMILE INC.
        //- h2 DESIGN<br>FOR<br>SMILE
        h2 DESIGN
        h2 FOR 
        h2 SMILE
</body>
</html>