*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // .content {
  //   font-size: 20px;
  //   p {
  //     font-size: 1rem;
  //   }
  // }
  // .gridwrap {
  //   display: grid;
  //   grid-template:
  //     "child01" 300px
  //     "child02" 300px
  //     "child03" 300px
  //     / minmax(300px,calc(1fr / 3));
  //     gap: 2vw;
  //   .item01 {
  //     // outline: 1px solid blue($color: #44afbb);
  //     border: 1px solid;
  //     &:nth-of-type(1) {
  //       grid-area: "child01";
  //     }
  //     &:nth-of-type(2) {
  //       grid-area: "child02";
  //     }
  //     &:nth-of-type(3) {
  //       grid-area: "child03";
  //     }
  //   }
  // }

  /************************
  //         tab         //
  ************************/
  .tab-wrapper{
    display: flex;
    column-gap: 2px;
    input[type="radio"] {
      display: none;
    }
    .selected > .tab-label{
      color: #000;
      background-color: #e2e8eb;
      transition: .3s;
   }
    .tab-label {
      display: block;
      background-color: #b4bdbf;
      color: #525252;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 20px;
      transition: .3s;
      &:hover {
        opacity: .7;
      }
    }
  }
  .tab-panel{
    background-color: #e2e8eb;
    height: 170px;
    &>div {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .panel-b,
  .panel-c{
    display: none;
  }
}