.fv_wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	.fv_box {
		// display: flex;
		// display: none;
		// overflow: hidden;
	
		.fv_img {
			background-image: url(../../assets/common/images/kv-img.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: calc(1100 / 1440 * 100vw);
			// height: 640px;
			// height: calc(640 / 1440 * 100vw);
			height: 90vh;
			z-index: 1;
		}
	
		.fv_color {
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			// width: 780px;
			width: calc(780 / 1440 * 100vw);
			height: 100vh;
			background-color: #222222;
		}
	
		.fv_title {
			position: absolute;
			content: "";
			top: calc(159 / 1440 * 100vw);
			right: calc(194 / 1440 * 100vw);
			color: #FFFFFF;
			z-index: 2;
	
			p {
				font-size: 20px;
				font-weight: bold;
			}
	
			h1 {
				font-size: 72px;
				// height: 88px;
				line-height: 1.25;
			}
		}
	}
	
	.nav_box {
		width: 100%;
		height: 100vh;
		display: flex;
		// display: none;
		position: absolute;
		content: "";
		top: 0;
		right: -100%;
		z-index: 9;
		
		// background-image: url(../../assets/common/images/kv-img.jpg);
		// background-position: center;
		// background-size: cover;
		// background-repeat: no-repeat;
	
		.nav_left {
			width: calc(920 / 1440 * 100vw);
			background-color: rgba(34, 34, 34, 0.6);
		}
	
		.ham_nav {
			width: calc(520 / 1440 * 100vw);
			// background-color: #222222;
			background-color: rgba(34, 34, 34, 0.95);
	
			ul {
				display: flex;
				flex-direction: column;
				align-items: center;
				color: #FFFFFF;
				list-style: none;
				margin-top: calc(180 / 1440 * 100vw);
				row-gap: 30px;
	
				li.logo {
					// width: calc(42 / 1440 * 100vw);
					// height: calc(45 / 1440 * 100vw);
					width: 42px;
					height: 45px;
					padding-bottom: calc(9 / 1440 * 100vw);
				}
	
				li {
					font-size: calc(20 / 1440 * 100vw);
				}
			}
		}
		
	}
	.nav_box.active {
		right: 0;
	}
}