* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    img {
        max-width: 100%;
        vertical-align: bottom;
    }

    a {
        text-decoration: none;
        color: white;
    }

    input {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}